.signup {
  height: 480px;
  width: 100%;
  background-image: url(./img/download.jpg);
  margin: 0 auto;
  background-repeat: no-repeat;
  background-attachment: fixed;
  position: relative;
}

.signupOverlay {
  height: 480px;
  width: 100%;
  background-color: rgba(61, 70, 100, 0.86);
}

.signupContainer {
  width: 100%;
  height: 180px;
  position: absolute;
  top: 150px;
}

.signup h2 {
  color: white;
  font-family: 'Work Sans', sans-serif;
  font-size: 2.75em;
  font-weight: 100;
}

.signup p {
  font-family: 'Work Sans', sans-serif;
  font-weight: 100;
  font-size: 0.9em;
  letter-spacing: 0.05em;
  color: white;
  margin-top: 11px;
}

.signupButton {
  position: relative;
  width: 600px;
  height: 60px;
  border-radius: 30px;
  background-color: rgba(133, 139, 157, 1);
  margin-top: 50px;
}

.signupButton input {
  width: 500px;
  padding: 12.5px 0;
  margin-top: 10px;
  background-color: rgba(133, 139, 157, 0);
  color: white;
  border: none;
  font-size: 0.9em;
  font-family: helvetica, sans-serif;
  font-weight: lighter;
}

.signupButton input::placeholder {
  color: rgba(255, 255, 255, 0.6);
  font-family: helvetica, sans-serif;
  font-weight: lighter;
}

.signupButton button {
  color: white;
  background-color: rgba(133, 139, 157, 0);
  font-size: 1.6em;
  border: none;
  cursor: pointer;
  position: absolute;
  top: 12.5px;
}
